@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* Red color gradient from top to bottom */
  background: linear-gradient(to bottom, #7e7ee8, #1CB5E0);
}

body {
  color: rgb(2, 2, 2); /* Set font color to white */
  /* Your other CSS styles */
}
